@charset "UTF-8";
html,
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  color: #111111;
}

html {
  font-size: 62.5%;
}

.wrap {
  width: 100%;
  height: fit-content;
}
/*header*/
.header {
  width: 100%;
  height: 100px;
}

.header h1 img {
  width: 60px;
  height: 60px;
  float: left;
}

.header nav {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
  align-content: center;
}

.header .nav01 {
  width: fit-content;
  height: fit-content;
  float: right;
  margin-bottom: 20px;
}

.header .nav01 li {
  display: inline;
  margin-right: 6px;
}

.header .nav01 li::after {
  content: "";
  display: inline-flex;
  width: 2px;
  height: 8px;
  background-color: grey;
  margin-left: 12px;
  align-content: center;
}

.header .nav01 li:last-child::after {
  display: none;
}

/*.header .nav01 li:last-child {
  border-right: 0px;
}*/

.header .nav02 {
  width: fit-content;
  height: fit-content;
  float: right;
  clear: right;
}

.header .nav02 li {
  display: inline-block;
  font-size: 1.8rem;
  margin-right: 15px;
}

/*main*/
.container {
  width: 100%;
  height: fit-content;
}

/*banner*/
.banner {
  width: 100%;
  height: 710px;
  margin: 0 auto;
}

.banner img {
  width: 100%;
  display: block;
}

/*.section01 img {
  width: 100%;
  display: block;
  background-image: url(/img/banner_main.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}*/

/*section01*/
.section01 {
  width: 100%;
  height: fit-content;
}

.section01Contents {
  width: 1400px;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.menuText {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  position: absolute;
  top: 163px;
  left: 50%;
  transform: translateX(-50%);
}

.section01Contents h2 {
  display: inline-block;
  font-weight: 900;
  font-size: 4.5rem;
}
.section01Contents span {
  font-weight: 400;
  font-size: 4.5rem;
  margin-left: 15px;
}

.section01Contents .menuBox {
  width: var(--size-max-width);
  height: 100%;
}
.section01Contents .menuBox img {
  width: calc(100% / 3);
  float: left;
  margin-top: 300px;
  display: block;
}

/*section02*/
.section02 {
  width: 100%;
  height: 600px;
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #572a31;
}

.section02Contents {
  width: var(--size-max-width);
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.section02aside {
  width: fit-content;
  height: 100%;
  float: right;
  font-size: 1.5rem;
  line-height: 1.7;
  position: absolute;
  left: 60%;
  padding-top: 100px;
}
.section02aside h3 {
  font-size: 50px;
  font-weight: bold;
  margin: 20 0 20 0px;
}

.section02aside ul {
  width: 100%;
  height: 64px;
  margin-top: 90px;
  display: flex;
}
.section02aside ul li a {
  display: inline-block;
  width: 200px;
  height: 64px;
  padding: 20px;
  border: 2px solid rgb(148, 101, 101);

  text-align: center;
  margin: 6px;
}
.section02aside ul li a:hover {
  background-color: #572a31;
  color: #ffffff;
}

/*section03*/
.section03 {
  width: 100%;
  height: 986px;
}

.section03Contents {
  width: var(--size-max-width);
  height: 986px;
  margin: 0 auto;
  position: relative;
}

.section03Contents .menuText {
  width: fit-content;
  height: fit-content;
  font-size: 2rem;
  padding: 10px;
  position: absolute;
  top: 163px;
  left: 50%;
  transform: translateX(-50%);
}

.section03Contents h2 {
  display: inline-block;
  font-weight: 900;
  font-size: 4.5rem;
}

.section03Contents span {
  font-weight: 400;
  font-size: 4.5rem;
  margin-left: 15px;
}

.section03Contents .menuBox {
  width: var(--size-max-width);
  height: 100%;
}

.section03Contents .menuBox img {
  width: calc(100% / 3);
  float: left;
  margin-top: 300px;
  display: block;
}

/*section04*/
.section04 {
  width: 100%;
  height: 986px;
}

.section04Contents {
  width: var(--size-max-width);
  height: 986px;
  margin: 0 auto;
  position: relative;
  border: 0.1px solid transparent;
}

.section04Contents h2 {
  display: inline-block;
  font-weight: 900;
  font-size: 4.5rem;
}

.section04Contents span {
  font-weight: 400;
  font-size: 4.5rem;
  margin-left: 15px;
}

.section04Contents .menuBox {
  width: var(--size-max-width);
  height: 590px;
  margin-top: 300px;
}

.section04Contents .menuBox img {
  width: calc(100% / 5);
  height: 280px;
  float: left;
  display: block;
}
/*footer*/

.footer {
  width: 100%;
  height: 360px;
  background-color: #efefef;
  color: grey;
  font-size: 1.2rem;
}

.footerText {
  width: var(--size-max-width);
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerText p {
  width: fit-content;
  height: fit-content;
  display: block;
  margin-bottom: 100px;
}

.footerText .icons {
  width: fit-content;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 100px;
}

.footerText .icons img {
  display: inline-block;
}
